/* MISC */

:root {
  --white-bg: #fff;
  --gray-bg: #f5f6f7;
  --dark-gray-bg: rgb(231, 231, 231);
  --main-text: #333;
  --gray-text: #9ca3af;
  --important-buttons: #3577ff;
}

* {
  box-sizing: border-box; /*ALWAYS USE THIS!!!!!!*/
  margin: 0;
  padding: 0;
}

a {
  color: var(--main-text);
  text-decoration: none;
}

body {
  background-color: var(--white-bg);
  color: var(--main-text);
  font-family: "Poppins", sans-serif;
}

input {
  border-style: none;
  outline: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* NAVBAR */

.navbar {
  height: 70px;
  position: relative;
  border-bottom: 1px #dfdfdf solid;
}

.navbar .flex {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.left-nav {
  font-family: "Poppins", sans-serif;
  font-size: 19px;
}

.middle-nav {
  margin-left: 115px;
  position: absolute;
}

.middle-nav a {
  font-size: 15.5px;
  margin: 0 10px 0 10px;
  padding: 10px;
}

.middle-nav a:hover {
  background-color: var(--gray-bg);
  border-radius: 5px;
}

.middle-nav a:active {
  background-color: var(--dark-gray-bg);
}

/* MAIN BODY */

.intro-box {
  background-color: var(--gray-bg);
  border-radius: 5px;
  height: max-content;
  margin-top: 40px;
  padding: 60px 80px 60px 80px;
  text-align: center;
  transition: background-color ease-in 0.5s;
}

.intro-box p {
  font-size: 18px;
  font-weight: 500;
  padding: 5px 0px 5px 0px;
}

.intro-box .grid {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px 40px;
}

.intro-box-contents {
  margin-top: 40px;
}

.intro-box-contents p {
  font-weight: 400;
  font-size: 17px;
}

.intro-box:hover {
  background-color: var(--dark-gray-bg);
}

.intro-box-start {
  background-color: var(--important-buttons);
  border-radius: 5px;
  padding: 15px;
  width: fit-content;
  position: relative;
  bottom: 33px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.3px;
  margin: 0 auto;
  transition: border-radius ease-in 0.2s, box-shadow ease-in 0.2s;
}

.intro-box-start:hover {
  border-radius: 20px;
  box-shadow:  0 5px #2a61cf;
}

.intro-box-start:active {
  background-color: #2a61cf;
}

.series-search {
  background-color: var(--gray-bg);
  border-radius: 5px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  transition: background-color ease-in 0.5s;
  width: 500px;
}

.series-search input {
  background-color: transparent;
  font-size: 15px;
}

.series-search:hover {
  background-color: var(--dark-gray-bg);
}

.featured {
  padding-top: 40px;
}

/* FOOTER */

.footer {
  border-top: 1px #dfdfdf solid;
  bottom: 0px;
  color: var(--gray-text);
  font-weight: 300;
  height: 75px;
  position: absolute; /*sticky when u need the footer stuck to the bottom*/
  width: 100%;
}

.footer .flex {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.footer-links a {
  font-size: 15px;
  font-weight: 400;
  margin: 0px 10px 0px 10px;
}

.footer-links a:hover {
  color: black;
  text-decoration: underline;
}

.footer-icons {
  margin-top: 5px;
}

.icon {
  filter: invert(71%) sepia(13%) saturate(253%) hue-rotate(179deg)
    brightness(90%) contrast(86%);
  height: 25px;
  margin-left: 15px;
  width: 25px;
}

/* MEDIA QUERIES */

/* OTHER */
.container {
  margin: 0 auto;
  overflow: auto;
  width: 70%;
}

.container-body {
  margin: 0 auto;
  overflow: auto;
  width: 50%;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}
