/* MISC */

:root {
  --white-bg: #fff;
  --gray-bg: #f5f6f7;
  --dark-gray-bg: rgb(231, 231, 231);
  --main-text: #333;
  --gray-text: #9ca3af;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: var(--main-text);
  text-decoration: none;
}

body {
  background-color: var(--white-bg);
  color: var(--main-text);
  font-family: "Poppins", sans-serif;
}

input {
  border-style: none;
  outline: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* NAVBAR */

.navbar {
  height: 70px;
  position: relative;
  border-bottom: 1px #dfdfdf solid;
}

.navbar .flex {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.left-nav {
  font-family: "Poppins", sans-serif;
  font-size: 19px;
}

.middle-nav {
  margin-left: 115px;
  position: absolute;
}

.middle-nav a {
  font-size: 15.5px;
  margin: 0 10px 0 10px;
  padding: 10px;
}

.middle-nav a:hover {
  background-color: var(--gray-bg);
  border-radius: 5px;
}

.middle-nav a:active {
  background-color: var(--dark-gray-bg);
}

/* MAIN BODY */
.intro-box {
  background-color: var(--gray-bg);
  border-radius: 5px;
  height: max-content;
  margin-top: 20px;
  padding: 60px 80px 60px 80px;
  text-align: center;
  transition: background-color ease-in 0.5s;
}

.intro-box p {
  font-size: 18px;
  font-weight: 500;
  padding: 5px 0px 5px 0px;
}

.intro-box .grid {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px 40px;
}

.intro-box-contents {
  margin-top: 40px;
}

.intro-box-contents p {
  font-weight: 400;
  font-size: 17px;
}

.intro-box:default {
  transition: none;
}

.intro-box:hover {
  background-color: var(--dark-gray-bg);
}

/* FOOTER */

.footer1 {
  border-top: 1px #dfdfdf solid;
  bottom: 0px;
  color: var(--gray-text);
  font-weight: 300;
  height: 75px;
  position: absolute;
  width: 100%;
}

.footer1 .flex {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.footer-links a {
  font-size: 15px;
  font-weight: 400;
  margin: 0px 10px 0px 10px;
}

.footer-links a:hover {
  color: black;
  text-decoration: underline;
}

.footer-icons {
  margin-top: 5px;
}

.icon {
  filter: invert(71%) sepia(13%) saturate(253%) hue-rotate(179deg)
    brightness(90%) contrast(86%);
  height: 25px;
  margin-left: 15px;
  width: 25px;
}

/* MEDIA QUERIES */

/* OTHER */
.container {
  margin: 0 auto;
  overflow: auto;
  width: 70%;
}

.container-body {
  margin: 0 auto;
  overflow: auto;
  width: 50%;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}
